/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para secciones */
h2 {
    color: #336699; /* Color para títulos */
}

h3 {
    color: #ff9900; /* Color para subtítulos */
}

blockquote {
    font-style: italic;
    margin: 20px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para las preguntas frecuentes */
dl dt {
    font-weight: bold;
    color: #33cc33; /* Color para preguntas */
}

dl dd {
    color: #9900cc; /* Color para respuestas */
}
